/*Primary Colors - buttons, hyperlinks, active states*/
$P050:#F0F9FF;
$P100:#D6EFFF;
$P200:#A3DAFF;
$P300:#80BCE9;
$P400:#3496D9;
$P500:#0078DB;
$P600:#006AC2;
$P700:#005CA8;
$P800:#004E8F;
$P900:#004075;

/*Accent Colors - Floating Action Buttons, Badges that represent new content*/
$A050:#FFFBF3;
$A100:#FFF5E4;
$A200:#FFE6BC;
$A300:#F6D399;
$A400:#FFC27A;
$A500:#FFAA3E;
$A600:#EC9930;
$A700:#C67A19;
$A800:#9F600F;
$A900:#844B00;


/*Neutral Colour - Floating Action Buttons, Badges that represent new content*/
/*Typography Colours*/
$Ng100:#FFFFFF;
$Ng200:#F4F5F7;
$Ng300:#EBECF0;
$Ng400:#8993A4;
$Ng500:#42526E;
$Ng600:#253858;
$Ng700:#091E42;
$Ng800:#041533;
$Ng900:#010C1F;


$darkGround: #151C22;

/*Overlays, Light Box*/
$scrimDark:rgba(21, 28, 34, 0.7);
$scrimLight:rgba(255, 255, 255, 0.9);


/*
Information Colour - success, error or warning messages, badges,
notifications, input fields, icons
*/
$error:#C41F1F;
$errorSubtle:#FFDEDE;
$success:#28AD35;
$successSubtle:#D7F2E3;
$warning:#FFAB00;
$warningSubtle:#FEECC7;
$offerSubtle: #FCE3EF;
$offerSolid: #C51366;

/*Badges Solid*/
$bdgsBgAccent:#FFAA3E;
$bdgsBgContacted:#3496D9;
$bdgsBgError:#C41F1F;
$bdgsBgFeatured:#B00AB6;
$bdgsLightFeatured :#F5E7F6;
$bdgsBgNewProp:#2723A7;
$bdgsBgOffer:#E50000;
$bdgsBgPrimary:#0078DB;
$bdgsBgRera:#06AFB0;
$bdgsBgSecondary:#FFFFFF;
$bdgsBgTopDealer:#FF971A;
$bdgsBgSeen:#151C22B2;
$bdgsBgVerified:#28AD35;
$bdgsBgWarning:#FFAB00;

/*Badges Subtle*/
$bdgsBgSubtleAccent:#FFFBF3;
$bdgsBgSubtleError:#FFDEDE;
$bdgsBgSubtlePrimary:#D6EFFF;
$bdgsBgSubtleSecondary:#EBECF0;
$bdgsBgSubtleSuccess:#D7F2E3;
$bdgsBgSubtleWarning:#FEECC7;

$bdgsForeColorWhite:#FFFFFF;
$bdgsForeColorPrimary:#0078DB;
$bdgsForeColorSecondary:#42526E;
$bdgsForeColorWarning:#994F00;
$bdgsForeColorAccent:#E03636;
$bdgsForeColorError:#B21D1D;
$bdgsForeColorSuccess:#2E7B32;
$bdgsForeColorWarning:#994F00;

$transparent:transparent;

$darkGround: #151C22;